@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/_layoutMain.cshtml";
}

<div class="content-main">
    <div class="action">
        <p>Un plat de notre menu, livré à votre table en un clic !</p>
        <button><a href="">Découvrir notre menu</a></button>
    </div>
</div>

