@model restaurant.Models.Table

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_layoutDashboard.cshtml";
}





<div class="content_page">

    <div class="container">
        <h1>Supprimer cette table</h1>


        <hr />
        <table>
            <tbody>
                <tr>
                    <th>Id table</th>
                    <td>@Html.DisplayFor(model => model.Id)</td>
                </tr>

                <tr>
                    <th>Nombre de place</th>
                    <td>@Html.DisplayFor(model => model.PeopleNumber)</td>
                </tr>
            </tbody>
        </table>
        <form asp-action="Delete">
            <input type="hidden" asp-for="Id" />
            <input type="submit" value="Supprimer" class="btn btn-danger" /> |
            <a asp-action="Index">Back to List</a>
        </form>
    </div>
</div>
<script src="~/js/main.js"></script>





