@model restaurant.Models.Commande

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_layoutDashboard.cshtml";
}

<h1>Edit</h1>



<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="All" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Statut" class="control-label">Statut</label>
               
                <select asp-for="Statut">
                    <option value="En cours">En cours</option>
                    <option value="Terminer">Terminer</option>
                    <option value="Annuler">Annuler</option>

                </select>
                <span asp-validation-for="Statut" class="text-danger"></span>
            </div>
           
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <button style="background-color:#ff914d"><a style="color:white" asp-action="Index">Back to List</a></button>
</div>

<script src="~/js/main.js"></script>
