@model restaurant.Models.Plat

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_layoutDashboard.cshtml";
}






<div class="content_page">

    <div class="container">
        <h1>Supprimer ce plat</h1>


        <hr />
        <table>
            <tbody>
                <tr>
                    <th>Nom</th>
                    <td>@Html.DisplayFor(model => model.Name)</td>
                </tr>

                <tr>
                    <th>Description</th>
                    <td>@Html.DisplayFor(model => model.Description)</td>
                </tr>

                <tr>
                    <th>Prix</th>
                    <td>@Html.DisplayFor(model => model.Price)</td>
                </tr>
                <tr>
                    <th>Imgae</th>
                    <td> <img src="~/@Html.DisplayFor(model => model.ImagePath)" height="120px" width="120px" /></td>
                </tr>






            </tbody>
        </table>
        <form asp-action="Delete">
            <input type="hidden" asp-for="Id" />
            <input type="submit" value="Supprimer" class="btn btn-danger" /> |
            <a asp-action="Index">Back to List</a>
        </form>
    </div>
</div>
<script src="~/js/main.js"></script>
